# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env/
*.egg-info/
dist/
build/

# Data
data/raw/
data/images/

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/

# telegram session files
*.session